atticus
linus
.venv
flaskenv
atticus.ipynb
google-vision.ipynb
myfile.json
physics_ch4_prob71.ipynb
params2.json
params.json

bootstrap/
jquery-3.7.1.min.js
params4.json
params5.json
static/css/style_spa.css
static/js/about.js
static/js/app.js
static/js/components/
static/js/contact.js
static/js/home.js
static/js/main.js
static/js/views/
templates/problem2.html
templates/problem3.html
