<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/problem1.css')}}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
    <script src="{{ url_for('static', filename='js/about.js') }}"></script>
    <script src="{{ url_for('static', filename='js/contact.js') }}"></script>



    <title>Document</title>
</head>
<body>

    <ul class="navbar-list">
        <li class="navbar-item"><a href="#" onclick="onNavigate('/'); return false;">Home</a></li>
        <li class="navbar-item"><a href="#" onclick="onNavigate('/about'); return false;">About</a></li>
        <li class="navbar-item"><a href="#" onclick="onNavigate('/contact'); return false;">Contact</a></li>
      </ul>
 <div id="root"></div>
    <div class="grid-container">
        <!-- <div class="grid-item" id="1">1</div>
        <div class="grid-item" id="2">2</div>
        <div class="grid-item" id="3">3</div>
        <div class="grid-item" id="4">4</div>
        <div class="grid-item" id="5">5</div>
        <div class="grid-item" id="6">6</div>
        <div class="grid-item" id="7">7</div>
        <div class="grid-item" id="8">8</div>
        <div class="grid-item" id="9">9</div>
        <div class="grid-item" id="10">10</div>
        <div class="grid-item" id="11">11</div>
        <div class="grid-item" id="12">12</div> -->
<!-- 
        <div class="grid-item" id="1">1</div>
        <div class="grid-item" id="4">4</div>
        <div class="grid-item" id="7">7</div>
        <div class="grid-item" id="10">10</div>
        <div class="grid-item" id="2">2</div>
        <div class="grid-item" id="5">5</div>
        <div class="grid-item" id="8">8</div>
        <div class="grid-item" id="11">11</div>
        <div class="grid-item" id="3">3</div>
        <div class="grid-item" id="6">6</div>
        <div class="grid-item" id="9">9</div>
        <div class="grid-item" id="12">12</div> -->
    </div>
    <script>

        let c = document.querySelector(".grid-container")
        for(let i=1; i<13; i++) {
            let gridItem = document.createElement("div")
            c.insertAdjacentElement("beforeend", gridItem)
            gridItem.id = i
            gridItem.classList.add("grid-item")
            gridItem.innerHTML = i
        }

        // window.onclick = () => {
        //     let e = document.getElementById("5")
        //     e.innerHTML = "13"
        // }


    </script>

    <script src="{{url_for('static', filename='js/app.js')}}"></script>

</body>
</html>